{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<div class="relative overflow-hidden w-full min-h-[100px] bg-white rounded-lg"></div>
	<section class="bg-gray-50">
		<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
			<a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
				<img class="w-40 h-40 sm: mr-2 md:max-w-md" src="/assets/logooff.png" alt="logo">
			</a>
			<div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 mb-10">
				<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
					<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
						Créez votre compte
					</h1>
					{{ form_start(registrationForm, {
                attr: {
                    class: "space-y-4 md:space-y-6"
                }
              }) }}

					<div>
						{{ form_row(registrationForm.Nom) }}
					</div>
					<div>
						{{ form_row(registrationForm.Prenom) }}
					</div>
					<div>
						{{ form_label(registrationForm.Phone, 'Numéro de Téléphone') }}
						<input name="{{ field_name(registrationForm.Phone) }}" value="{{ field_value(registrationForm.Phone) }}" placeholder="Numéro de téléphone sans tirets et sans espaces" type="tel" pattern="[0-9]*" inputmode="numeric" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
					</div>
					<div>
						{{ form_row(registrationForm.email) }}
					</div>
					<!--div>
					                      {{ form_row(registrationForm.plainPassword, {
					                        label: 'Password'
					                      }) }}
					                  </div-->
					<div class="flex items-start">
						<div class="flex items-center h-5">
							{{ form_row(registrationForm.agreeTerms) }}
						</div>
						<a href="#" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a>
					</div>
					<button type="submit" class="btn text-white bg-pink-500 hover:bg-pink-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Créer un compte</button>
					<p class="text-sm font-light text-gray-500">
						Vous avez déjà un compte ?
						<a href="{{path('app_login')}}" class="font-medium text-pink-600 hover:underline">Se connecter</a>
					</p>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</section>

{% endblock %}
