{% extends 'base.html.twig' %}

{% block title %}Rendezvous index{% endblock %}

{% block body %}
<div class="relative overflow-hidden w-full min-h-[90px] bg-white rounded-lg"></div>
<div class="relative overflow-hidden w-full min-h-[90px] bg-white rounded-lg"></div>
    <h1>Rendezvous index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageName</th>
                <th>Day</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rendezvous in rendezvouses %}
            <tr>
                <td>{{ rendezvous.id }}</td>
                <td>{{ rendezvous.ImageName }}</td>
                <td>{{ rendezvous.day ? rendezvous.day|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_rendezvous_show', {'id': rendezvous.id}) }}">show</a>
                    <a href="{{ path('app_rendezvous_edit', {'id': rendezvous.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rendezvous_new') }}">Create new</a>
{% endblock %}
