{% extends 'base.html.twig' %}

{% block body %}
<div class="relative overflow-hidden w-full min-h-[90px] bg-white rounded-lg"></div>

    <h1 class="text-2xl font-bold my-5 text-center">Faites votre choix de créneaux</h1>
    <div class="mt-12 mb-12 mx-8 flex flex-col justify-center content-center">
    {{ form_start(form) }}
    <ol class="relative border-s border-gray-200 flex flex-col sm:flex-row">
        <li class="ms-6 mb-8">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                <svg class="w-2.5 h-2.5 text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900">{{form_label(form.day)}}</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400"></time>
            <p class="text-base font-normal text-gray-500"> {{ form_widget(form.day) }} </p>
        </li>
        <li class="ms-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                <svg class="w-2.5 h-2.5 text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900">{{form_label(form.creneau, 'Choisissez votre creneau')}}</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400"></time>
            <div>
            {% for label, value in field_choices(form.creneau) %}
            <div class="flex items-center ps-4 border border-gray-200 rounded">
                <input id="bordered-radio-1" type="radio" value="{{ value }}" name="{{ field_name(form.creneau) }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                <label for="bordered-radio-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900">{{ label }}</label>
            </div>
            {% endfor %}
            </div>
        </li>   
    </ol>
    {{ form_row(form._token) }}
    </div>
    <div class="flex justify-center">
        <button type="submit" class="btn btn-primary my-5 text-white bg-pink-700 hover:bg-pink-500 focus:ring-4 font-medium rounded-lg text-sm w-1/2 sm:w-auto px-5 py-2.5 text-center">Suivant</button>
    </div>
    {{ form_end(form) }}
{% endblock %}



{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>
<script>
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr("#step2_form_day", {
                enableTime: false,
                dateFormat: "d-m-Y",
                inline: true,
                locale: "fr",
            });
        });
    </script>


{% endblock %}

{% block stylesheets %}
<style>
/* Media queries pour ajuster Flatpickr avec Tailwind CSS */
.flatpickr-calendar {
        width: 300px; /* Ajustez la largeur selon vos besoins */
        font-size: 14px; /* Ajustez la taille de la police selon vos besoins */
    }
/* Pour les écrans moyens et plus grands */
@media (min-width: 640px) {
    /* Ajustement de la taille de l'élément Flatpickr */
   .flatpickr-calendar {
        width: 300px; /* Ajustez la largeur selon vos besoins */
        font-size: 16px; /* Ajustez la taille de la police selon vos besoins */
    }
}

/* Pour les écrans plus petits */
@media (max-width: 767px) {
    /* Ajustement de la taille de l'élément Flatpickr pour les petits écrans */
    
}
</style>
{% endblock %}