<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tableau de bord{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


        <script src="https://cdn.tailwindcss.com"></script>
        
        <style>
        /* Pour les libellés des mois */
        .fc-toolbar-title, .fc-col-header-cell-cushion {
            text-transform: capitalize;
        }
        </style>

    </head>

{% block body %}

<div class="max-w-xl mx-8">
    {{ form_start(form, {'attr': {'id': 'myForm'}}) }}
    <ol class="relative border-s border-gray-200">
        <li class="mb-10 ms-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                <svg class="w-2.5 h-2.5 text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900">{{ form_label(form.user, 'Choisissez votre client(e)') }}</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400"></time>
            <p class="text-base font-normal text-gray-500" id="test">{{ form_widget(form.user) }}</p>
        </li>
        <li class="mb-10 ms-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                <svg class="w-2.5 h-2.5 text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900">{{ form_label(form.prestation, 'Choisissez votre prestation') }}</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400"></time>
            <p class="text-base font-normal text-gray-500" id="test">{{ form_widget(form.prestation) }}</p>
        </li>
        <li class="ms-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                <svg class="w-2.5 h-2.5 text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900">{{ form_label(form.day, 'Date du rendez-vous') }}</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400"></time>
            <input
                name="{{ field_name(form.day) }}"
                value="{{ field_value(form.day) }}"
                placeholder="Sous le format 2024-03-01"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                id="datepicker"
            >
        </li>
        <li class="ms-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                <svg class="w-2.5 h-2.5 text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900">{{ form_label(form.creneau, 'Choisissez votre creneau') }}</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400"></time>
            <div id="creneaux-container">
                <p class="text-base font-normal text-gray-500" id="test">{{ form_widget(form.creneau) }}</p>
            </div>
        </li>
    </ol>

    <button type="submit" class="btn btn-primary mt-5 text-white bg-pink-700 hover:bg-pink-500 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Enregistrer</button>
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>


{% endblock %}

{%  block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>
<script>
    flatpickr("#datepicker", {
        enableTime: false,
        dateFormat: "Y-m-d",
        altInput: true,
        altFormat: "j F Y",
        inline: true,
        locale: "fr",
        minDate: "today",
        disable: [
            function(date) {
                // Retourne true pour désactiver les samedis
                return (date.getDay() === 1);
            },
            function(date) {
                // Retourne true pour désactiver les dimanches
                return (date.getDay() === 0);
            }
        ],
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var datePicker = document.getElementById('datepicker');
        datePicker.addEventListener('change', function() {
            var selectedDate = datePicker.value;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/get-available-slots', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var slots = JSON.parse(xhr.responseText);
                        updateSlotsDropdown(slots);
                    } else {
                        console.error('Erreur lors de la récupération des créneaux disponibles');
                    }
                }
            };
            xhr.send('date=' + selectedDate);
        });
        
        function updateSlotsDropdown(slots) {
            var slotsDropdown = document.getElementById('admin_add_rdv_creneau');
            slotsDropdown.innerHTML = ''; // Efface les options actuelles
            var selectElement = document.createElement('select'); // Crée un élément select
            selectElement.id = 'admin_add_rdv_creneau';
            selectElement.name = 'admin_add_rdv[creneau]'; // Ajoute le nom
            selectElement.className = 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5'; // Ajoute les classes
            slots.forEach(function(slot) {
                var option = document.createElement('option');
                option.value = slot.id;
                option.text = slot.libelle;
                selectElement.appendChild(option);
            });
            slotsDropdown.replaceWith(selectElement); // Remplace la liste existante par le nouveau select
        }
    });
</script>

{% endblock %}

{% block stylesheets %}
<style>
/* Media queries pour ajuster Flatpickr avec Tailwind CSS */
.flatpickr-calendar {
        width: 300px; /* Ajustez la largeur selon vos besoins */
        font-size: 14px; /* Ajustez la taille de la police selon vos besoins */
    }
/* Pour les écrans moyens et plus grands */
@media (min-width: 640px) {
    /* Ajustement de la taille de l'élément Flatpickr */
   .flatpickr-calendar {
        width: 300px; /* Ajustez la largeur selon vos besoins */
        font-size: 16px; /* Ajustez la taille de la police selon vos besoins */
    }
}

/* Pour les écrans plus petits */
@media (max-width: 767px) {
    /* Ajustement de la taille de l'élément Flatpickr pour les petits écrans */
    
}
</style>
{% endblock %}