{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="relative overflow-hidden w-full min-h-[90px] bg-white rounded-lg"></div>

<div class="mx-10">
    <h5 class="text-xl font-semibold my-5">Informations personnelles</h5>

    <ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg">
        <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg">
            <p><strong>Nom:</strong> {{app.user.nom}}</p>
        </li>
        <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg">
            <p><strong>Prénom:</strong> {{app.user.prenom}}</p>
        </li>
        <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg">
            <p><strong>Date de naissance:</strong> {{app.user.birthday}}</p>
        </li>
        <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg">
            <p><strong>Genre:</strong> {{app.user.genre}}</p>
        </li>
        <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg">
            <p><strong>Adresse e-mail:</strong> {{app.user.email}}</p>
        </li>
        <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg">
            <p><strong>Téléphone:</strong> {{app.user.phone}}</p>
        </li>
        <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg">
            <p><a class="text-red-700 text-lg font-medium" href="{{ path('app_logout') }}">Déconnexion</a></p>
        </li>
    </ul>
    <!--p class="text-sm text-right font-normal text-pink-500 underline my-2">Modifier les informations</p-->

    <h5 class="text-xl font-semibold my-5">Mes rendez-vous</h5>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Créneau
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Prestation
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Statut
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if appointments is empty %}
                    <tr>
                        <td colspan="4" class="px-6 py-4 text-center">
                            Aucun Rendez-vous!
                        </td>
                    </tr>
                {% else %}
                    {% for appointment in appointments %}
                        <tr class="odd:bg-white even:bg-gray-50 border-b">
                            <td class="px-6 py-4">{{ appointment.day|date('d/m/Y') }}</td>
                            <td class="px-6 py-4">{{ appointment.creneau.libelle }}</td>
                            <td class="px-6 py-4">{{ appointment.prestation.Title }}</td>
                            <td class="px-6 py-4">{{ appointment.status }}</td>
                            <td class="px-6 py-4">
                                {% if appointment.status != "Annulé" %}
                                    <a href="{{ path('app_rendezvous_edit', {'id': appointment.id}) }}" class="font-medium text-pink-600 hover:underline">Reporter</a>
                                    <a href="{{ path('app_rendezvous_cancel', {'id': appointment.id}) }}" class="font-medium text-pink-600 hover:underline">Annuler</a>
                                {% else %}
                                    <span class="opacity-50 cursor-not-allowed">Reporter</span>
                                    <span class="opacity-50 cursor-not-allowed">Annuler</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>


</div>
{% endblock %}
